<div class="auth-box d-flex align-items-center">
    
    
    <div class="container-xxl position-relative">
        <div class="row align-items-center justify-content-center">
            <div class="col-xl-10">
                <div class="card rounded-4 auth-card">
                    <div class="row justify-content-between g-0">
                        <!-- Left side showing background image -->
                        <div class="col-lg-6 d-none d-lg-block">
                            <div class="h-100 position-relative rounded-start-4 auth-left-panel">
                                <div class="position-absolute w-100 h-100 auth-left-overlay"></div>
                                <div class="h-100 d-flex align-items-center justify-content-center auth-logo-container">
                                    <img src="assets/images/meezan-logo.png" alt="MEEZAN BANK" class="auth-logo">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 auth-right-panel">
                            <div class="card-body">
                                <div class="auth-brand text-center mb-4">
                                    <div class="women-in-networks-logo mb-4">
                                        <h1 class="fw-bold mb-0 auth-title">
                                            <span>TEK - CANDOR</span>
                                            <span class="auth-subtitle"><u>Cheque clearing</u></span>
                                        </h1>
                                    </div>
                                    <h4 class="fw-bold mt-4 auth-welcome">Welcome Back </h4>
                                    <p class="w-lg-75 mx-auto">Let's get you signed in. Enter your login name and
                                        password to continue.</p>
                                </div>
 
                                <form>
                                    <div class="mb-3">
                                        <label for="userLoginName" class="form-label auth-label">Login Name <span
                                                class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <span class="input-group-text bg-light"><ng-icon name="tablerMail"/></span>
                                            <input #userLoginName type="text" class="form-control" id="userLoginName"
                                                placeholder="Enter your login name" required>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="userPassword" class="form-label auth-label">Password <span
                                                class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <span class="input-group-text bg-light"><ng-icon
                                                    name="tablerLockPassword" class="auth-password-icon" /></span>
                                            <input #userPassword type="password" class="form-control" id="userPassword"
                                                placeholder="••••••••" required>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        <div class="form-check">
                                            <input class="form-check-input form-check-input-light fs-14 " type="checkbox"
                                                id="rememberMe">
                                            <label class="form-check-label" for="rememberMe" style="color: black;">Keep me signed in</label>
                                        </div>
                                         
                                    </div>

                                    <div class="d-grid">
                                        <button type="button" class="btn fw-semibold py-2 signin-btn" (click)="signIn(userLoginName.value, userPassword.value)">Sign In</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>